<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rainier.mapper.MyFileMapper" >

  <insert id="insertMyFile" >
      insert into my_file (`name`,bendiUrl,fuwuqiUrl) values (#{name},#{bendiUrl},#{fuwuqiUrl})
  </insert>
    <delete id="quartzDeleteMyFile">
        delete from my_file where fuwuqiUrl not in
        <foreach collection="urlList"  index="index" item="item" open="(" separator="," close=")"  >
            #{item}
        </foreach>
    </delete>
    <select id="getMyFileLujing" resultType="map">
        select bendiUrl from my_file
    </select>

</mapper>